fastapi
uvicorn
torch==2.2.2
torchvision==0.17.2
faiss-cpu==1.7.4
sentence-transformers==2.6.1
easyocr==1.7.1
opencv-python-headless
PyMuPDF
numpy<2.0
scipy
scikit-learn
google-genai
python-dotenv
nltk
